<div class="cart-background">
<ng-template #noitem>
    <div class="no-item-message">
      <div class="cart-empty-icon">
        <i class="bi bi-cart" aria-hidden="true"></i>
      </div>
      <h2 class="text-center text-muted">Oops! No item added in Cart</h2>
      <p class="text-center">Start ordering now!</p>
      <div class="button-group">
        <a routerLink="/home" class="btn-go-home">Go to Home</a>
        <button class="btn-reset" (click)="resetCart()">Reset Cart Status</button>
      </div>
    </div>
  </ng-template>
  
  <div class="container" *ngIf="cart_items.length != 0; else noitem">
    <i class="bi bi-arrow-left-circle-fill icon" (click)="icon_click()"></i>
    <div class="cart-header">
      <h2 class="text-center" style="color: #fff;">Your Cart</h2>
      <button class="btn-reset" (click)="resetCart()">Reset Cart Status</button>
    </div>
    <br><br>
    <div class="container1">
      <div class="card" *ngFor="let item of cart_items; let i = index">
        <img [src]="'public/' + item.img" class="card-img-top" alt="{{item.name}}">
        <div class="card-body">
          <h3 class="card-title">{{item.name}}</h3>
          <h4 class="card-title">{{item.price | currency :'INR'}}</h4>
          <div class="button-group">
            <button class="btn btn-danger" (click)="remove(i)">Remove</button>
            <a routerLink="/place_order">
              <button class="btn btn-warning" (click)="placeorder(i)">Place Order</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  